#**TUPLE DUPLICATION**
The duplicated() method returns a Series with True and False values that describe which rows in the DataFrame are duplicated and not.

Use the subset parameter to specify which columns to include when looking for duplicates. By default all columns are included.

By default, the first occurrence of two or more duplicates will be set to False.

Set the keep parameter to False to also set the first occurrence to True.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'brand': ['Nike', 'Nike', 'Indie', 'Indie', 'Indie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
df.duplicated(keep='last')

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
df.duplicated(keep=False)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [ ]:
boolseries=df.duplicated(subset=None,keep=False).value_counts()
print(boolseries)

False    3
True     2
dtype: int64

In [ ]:
unique=df[~df.duplicated()]
print(unique)

   brand style  rating
0   Nike   cup     4.0
2  Indie   cup     3.5
3  Indie  pack    15.0
4  Indie  pack     5.0

Performing the same on a csv file

In [ ]:
dataset=pd.read_csv("/content/Ontario_Fuel_Prices_1990_2023.csv")

display(dataset)

<ipython-input-25-3eddd69f8eea>:1: DtypeWarning: Columns (18,35,52,69,86,103,120,137,154,171,188,205,222,239,256,273,290,307,324,341,358,375,392,409,426,443,460,477,494,511,528,545,562,579,596,613,630,647,664,681,698,715,732,749,766,783,800,817,834,851,868,885,902,919,936,953,970,987,1004,1021) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv("/content/Ontario_Fuel_Prices_1990_2023.csv")

,_id,Date,Ottawa,Toronto West/Ouest,Toronto East/Est,Windsor,London,Peterborough,St. Catharine's,Sudbury,...,Unnamed: 1014,Unnamed: 1015,Unnamed: 1016,Unnamed: 1017,Unnamed: 1018,Unnamed: 1019,Unnamed: 1020,Unnamed: 1021,Unnamed: 1022,Unnamed: 1023
0,1,1990-01-03T00:00:00,55.9,49.1,48.7,45.2,50.1,0.0,0.0,56.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1990-01-10T00:00:00,55.9,47.7,46.8,49.7,47.6,0.0,0.0,56.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1990-01-17T00:00:00,55.9,53.2,53.2,49.6,53.7,0.0,0.0,55.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1990-01-24T00:00:00,55.9,53.2,53.5,49.0,52.1,0.0,0.0,55.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1990-01-31T00:00:00,55.9,51.9,52.6,48.6,49.1,0.0,0.0,55.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10551,10552,2023-11-27T00:00:00,129.9,80.9,70.9,83.9,105.1,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10552,10553,2023-12-04T00:00:00,129.9,80.9,70.9,83.9,105.1,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10553,10554,2023-12-11T00:00:00,129.9,80.9,70.9,83.9,105.1,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10554,10555,2023-12-18T00:00:00,129.9,80.9,70.9,83.9,105.1,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10555,10556,2023-12-27T00:00:00,129.9,80.9,70.9,83.9,105.1,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
duplicated=dataset.duplicated(keep=False).value_counts()
print(duplicated)

False    10533
True        23
dtype: int64

In [ ]:
unq=dataset[~dataset.duplicated()]
print("Before")
duplicated=dataset.duplicated(keep=False).value_counts()
print(duplicated)
print("after duplicated removal")
print(unq.duplicated(keep=False).value_counts())

Before
False    10533
True        23
dtype: int64
after duplicated removal
False    10537
dtype: int64